<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Meadowlark Travel</title>
    </head>
    <body>
        <header><img src="/img/header.png" alt="Header file" /></header>
        {{{body}}}
        <!-- This body stuff will be replaced with the HTML for each view -->
    </body>
</html>
