<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Meadowlark Travel</title>
    <script src="/jquery/dist/jquery.min.js"></script>
    <script src="/js/jq.js"></script>
    <link rel="stylesheet" href="/foundation/css/foundation.min.css">
  </head>
  <body>
    <header><img src="/img/header.png" alt="Header file" /></header>
    {{{body}}}
    <!-- This body stuff will be replaced with the HTML for each view -->
  </body>
</html>
