<form action="/process" method="post">
    <input type="hidden" name="hush" value="hidden, but not secret">
    <div>
        <label for="fieldColor">Your favorite color: </label>
        <input type="text" name="color" id="fieldColor">
    </div>
    <div>
        <button type="submit">Submit</button>
    </div>
</form>
