<div class="row">
  <div class="small-9 small-centered columns">
    <form id="regform" action="/loginProcess" method="post">
      <fieldset>
        <legend>User Login</legend>
        <label for="userid">User ID / Email</label>
        <input type="text" name="useridoremail" value="" placeholder="Please input your user ID" id="useridoremail">
        <label for="emal">Password</label>
        <input type="password" name="passwd" value="" placeholder="Please input your password" id="passwd">
        <input type="submit" id="loginsubmit" class="button tiny primary" name="button" value="Button">
      </fieldset>
    </form>
  </div>
</div>
