<div class="row">
  <div class="small-9 small-centered columns">
    <form>
      <fieldset>
        <legend>User Registration</legend>
        <label for="userid">User ID</label>
        <input type="text" name="userid" value="" placeholder="Please input your user ID">
        <label for="emal">Email</label>
        <input type="text" name="email" value="" placeholder="Please input your email">
        <label for="emal">Password</label>
        <input type="password" name="passwd" value="" placeholder="Please input your password">
        <button type="button" id="submit" class="button tiny primary" name="button">Submit</button>
      </fieldset>
    </form>
  </div>
</div>
